.list-detail {
    display: flex;
    flex-wrap: wrap;
}

.list {
    ul {
        padding-left: 0;
        list-style: none;
        li {
            padding: .5rem 1rem;
        }
    }
} 

.detail {
    flex: 1;
    padding: .5rem 1rem;
}